.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 0;
  width: 100%;
  border-radius: 32px;
}

.default {
  background-color: #2b6bf3;
  color: var(--foreground-color);
}

.default:hover {
  background-color: #1252db;
}

.gray {
  background-color: transparent;
  border: 0;
  font-family: 'Intro Book';
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  padding: 0;
  width: 100%;
  border-radius: 0;
}

.yellow {
  background-color: #ffdd2d;
  color: var(--dark-blue-color);
}

.yellow:hover {
  color: var(--foreground-color);
}
