.container {
  position: relative;
}

.searchInput {
  border: 1px solid var(--light-blue-color);
  padding: 12px 12px 12px 16px;
  border-radius: 8px;
  outline: none;
  width: 100%;
}

.searchInput:focus {
  border: 1px solid var(--blue-color);
}

.searchInputHover {
  background-color: var(--background-color);
}

.icon {
  position: absolute;
  right: 20px;
  top: 18px;
}
