.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 24px 24px 20px;
  background-color: #f8faff;
  border: 1px solid var(--light-blue-color);
  border-radius: 8px;
}

.containerNoBack {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.container:hover {
  border-width: 2px;
  border-color: var(--blue-color);
}

.icon {
  margin-bottom: 18px;
}

.title {
  margin-top: 32px;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
}

.link {
  color: var(--blue-color);
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
  opacity: 70%;
}

@media (max-width: 360px) {
  .iconNoBack {
    transform: scale(0.8);
  }

  .containerNoBack {
    align-items: center;
    text-align: center;
  }
}
