.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 54px;
}

.sliderBox {
  width: 1104px;
}

.grey {
  filter: grayscale();
  opacity: 30%;
}

.grey:hover {
  filter: none;
  opacity: 100%;
}

.right {
  transform: rotate(180deg);
}
