.container {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  margin-top: 81px;
}

.mainBox {
  display: flex;
  flex-direction: column;
  padding: 36px 32px 32px 102px;
  position: relative;
}

.textBox {
  display: flex;
  flex-direction: column;
  width: 376px;
  margin-bottom: 80px;
}

.title {
  margin-bottom: 34px;
}

.subtitle {
  margin-bottom: 30px;
}

.videoBox {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.rightBox {
  position: absolute;
  right: 32px;
  top: 36px;
}
