.container {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  margin-top: 81px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainBox {
  display: flex;
  flex-direction: column;
  padding: 66px 32px 32px 102px;
  position: relative;
  width: 100%;
  height: 784px;
}

.textBox {
  display: flex;
  flex-direction: column;
  width: 376px;
  margin-bottom: 80px;
}

.image {
  position: absolute;
  top: 152px;
}

.title {
  margin-bottom: 34px;
}

.subtitle {
  margin-bottom: 30px;
}

.videoBox {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.rightBox {
  position: absolute;
  right: 32px;
  top: 36px;
}

.marketingContainer {
  background-color: var(--foreground-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 98px;
  padding-bottom: 80px;
  align-items: center;
}

.marketingTextBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 754px;
  text-align: center;
  margin-bottom: 40px;
}

.marketingCardBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.sliderContainer {
  background-color: var(--foreground-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding-top: 82px;
  padding-bottom: 48px;
  padding-left: 112px;
  padding-right: 150px;
  position: relative;
  width: 100%;
}

.sliderButtonBox {
  position: absolute;
  right: 102px;
}

.whatWeDoContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--foreground-color);
  width: 100%;
  align-items: center;
  position: relative;
}

.whatWeDoCardBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 36px;
}

.whatWeDoImg {
  position: absolute;
  right: 0;
  top: -100px;
}

.middleBox {
  background-color: var(--background-color);
  width: 100%;
  border-top-left-radius: 320px;
  border-bottom-left-radius: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 74px;
  padding-bottom: 72px;
}

.sliderPaymentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;
  padding-top: 98px;
  padding-bottom: 82px;
  background-color: var(--foreground-color);
  width: 100%;
}

.whiteTextContainer {
  background-color: var(--foreground-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 102px 84px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 102px;
  border-top: 1px solid var(--light-blue-color);
}

.imageSmall {
  display: none;
}

.yellowBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--yellow-color);
  border-radius: 8px;
  padding: 32px 40px;
  gap: 10px;
  margin-top: 72px;
}

@media (max-width: 360px) {
  .yellowBox {
    margin-top: 32px;
    padding: 24px 16px;
  }

  .mainBox {
    padding: 32px 16px 56px;
    height: unset;
  }

  .image {
    display: none;
  }

  .imageSmall {
    display: block;
    position: absolute;
    top: 972px;
  }

  .textBox {
    width: 100%;
    margin-bottom: 36px;
  }

  .rightBox {
    position: unset;
    margin-bottom: 46px;
  }

  .title {
    margin-bottom: 14px;
    text-align: start;
  }

  .subtitle {
    margin-bottom: 14px;
  }

  .marketingContainer {
    padding-top: 54px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
  }

  .marketingTextBox {
    width: 100%;
    gap: 10px;
    margin-bottom: 16px;
  }

  .marketingCardBox {
    gap: 32px;
  }

  .sliderContainer {
    gap: 26px;
    padding-top: 38px;
    padding-bottom: 136px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }

  .sliderButtonBox {
    position: absolute;
    top: 200px;
  }

  .whatWeDoCardBox {
    justify-content: center;
    gap: 36px;
    margin-bottom: 36px;
  }

  .whatWeDoImg {
    display: none;
  }

  .middleBox {
    border-radius: 0;
    padding: 54px 16px 48px;
  }

  .sliderPaymentContainer {
    gap: 34px;
    padding-top: 54px;
    padding-bottom: 48px;
  }

  .whiteTextContainer {
    padding: 54px 16px 52px;
  }

  .footerContainer {
    padding: 0 16px;
  }
}
